.alerts-container{

    display:flex;

    flex-direction:column;

    gap:20px;

}



.alert-card{

    background:white;

    padding:25px;

    border-radius:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 4px 15px rgba(0,0,0,0.08);

}



.alert-card h3{

    margin-bottom:10px;

    color:#111827;

}



.alert-card p{

    color:#666;

}



.high{

    background:#ff7675;

    color:white;

    padding:10px 15px;

    border-radius:20px;

}



.medium{

    background:#fdcb6e;

    color:white;

    padding:10px 15px;

    border-radius:20px;

}