.page-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;

}


.add-button{

    background:#6C63FF;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

}



.students-table{

    width:100%;

    background:white;

    border-collapse:collapse;

    border-radius:15px;

    overflow:hidden;

}



.students-table th{

    background:#111827;

    color:white;

    padding:15px;

    text-align:left;

}



.students-table td{

    padding:15px;

    border-bottom:1px solid #ddd;

}



.edit-button{

    background:#00b894;

    color:white;

    border:none;

    padding:8px 12px;

    border-radius:8px;

    margin-right:10px;

    cursor:pointer;

}



.delete-button{

    background:#ff7675;

    color:white;

    border:none;

    padding:8px 12px;

    border-radius:8px;

    cursor:pointer;

}